<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Dashboard</title>

</head>
<body>
    <h1>Welcome, {{ username }}</h1>

    <form action="/search" method="GET">
        <input type="text" name="query" placeholder="Search for books...">
        <button type="submit">Search</button>
    </form>

    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        {% for genre, books in books_by_genre.items() %}
        <div class="genre-section">
            <h2>{{ genre }}</h2>
            <div class="book-container">
                {% for book in books %}
                <div class="book-card">
                    <a href="{{ book['url'] }}">
                        <img src="{{ book['Image_Link'] }}" alt="{{ book['Title'] }}">
                        <h3>{{ book['Title'] }}</h3>
                        <p>{{ book['Book_Description'][:100] }}...</p>
                        <p><strong>Price:</strong> ${{ book['Price'] }}</p>
                        <p><strong>Rating:</strong> {{ book['Stars'] }} Stars</p>
                        
                        <div class="rating">
                            <input type="radio" id="star5" name="rating" value="5">
                            <label for="star5"></label>
                            <input type="radio" id="star4" name="rating" value="4">
                            <label for="star4"></label>
                            <input type="radio" id="star3" name="rating" value="3">
                            <label for="star3"></label>
                            <input type="radio" id="star2" name="rating" value="2">
                            <label for="star2"></label>
                            <input type="radio" id="star1" name="rating" value="1">
                            <label for="star1"></label>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% endif %}
</body>
</html>
