/* Global Styles */

body {
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Background color for the body */
}

h1{
    margin-left: 20px;
    font-size: 45px;
}


h2{
    margin-left: 30px;
    font-size: 33px;
}

form {
    text-align: right;
    margin-top: -70px;
    margin-right: 50px;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff; /* Button background color */
    color: #fff;
    cursor: pointer;
    align-items: right;
}

button:hover {
    background-color: #0056b3; /* Button background color on hover */
}

/* Card Styles */

.genre-section {
    margin-bottom: 30px;
}

.book-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap */
    justify-content: center; /* Center cards horizontally */
    padding: 20px; /* Add padding to the container */
}

.book-card {
    width: 250px; 
    height: 410px; 
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 16px; 
    overflow: hidden; 
    /* display: flex; */
    flex-direction: column; /* Arrange items vertically */
}

.book-card a {
    text-decoration: none;
    color: inherit;
}

.book-card img {
    max-width: 100%;
    border-radius: 20px;
    max-height: 280px;
    margin-left: auto;
    margin-right: auto;  
    margin: auto;
}

.book-card h3,
.book-card p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis; /* Truncate text if it overflows */
    white-space: nowrap; /* Prevent wrapping */
}

.star-rating {
    font-size: 2rem;
    color: lightgray;
    display: inline-block;
    margin-top: auto; 
}

.star-rating .star {
    color: lightgray;
}

.star-rating[data-stars="5"] .star:nth-child(-n+5),
.star-rating[data-stars="4"] .star:nth-child(-n+4),
.star-rating[data-stars="3"] .star:nth-child(-n+3),
.star-rating[data-stars="2"] .star:nth-child(-n+2),
.star-rating[data-stars="1"] .star:nth-child(-n+1) {
    color: rgb(0, 0, 0);
}


.star-rating[data-stars="5"] .star:nth-child(-n+5),
.star-rating[data-stars="4"] .star:nth-child(-n+4),
.star-rating[data-stars="3"] .star:nth-child(-n+3),
.star-rating[data-stars="2"] .star:nth-child(-n+2),
.star-rating[data-stars="1"] .star:nth-child(-n+1) {
    color: gold;
} 
